{% extends 'base.html.twig' %}

{% block title %}{% trans %}A propos{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
        <h1 class="my-4 text-center">{% trans %}A propos{% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>1. A propos de Mon-shop-local.fr</h2>
            <p>Le site Mon-shop-local.fr a été conçu pour répondre au besoin urgent des petits commerçants de créer rapidement une virtualisation de leur boutique en ligne dans le cadre de la crise du Covid-19.</p>
            <p>Ce site a pour but premier de mettre en relation les commerçants et leurs clients au travers de boutiques crées, alimentées et gérées par le commerçant.</p>
            <p>La finalité étant de faciliter le Click & collect afin d'appuyer les mesures particulières dues au contexte sanitaire actuel</p>
            <p>La mise à disposition des services de base du site mon-shop-local.fr n'est soumise a aucune tarification et s'inscrit dans une démarche de solidarité et de prévenence</p>
            <h2>2. Road map des ajouts à venir</h2>
            <ul>
                <li>Optimisation de l'affichage mobile</li>
                <li>Catégories et filtres pour les articles</li>
                <li>Optimisation de la gestion des commandes</li>
                <li>Déploiement de la charte graphique du site (non, ça ne restera pas tout blanc et gris !)</li>
                <li>Tableau de bord 2.0 pour les commerçants</li>
                <li>Personnalisation de la boutique</li>
                <li>Personnalisation des emails</li>
                <li>Compte client</li>
                <li>Et bien d'autres..</li>
            </ul>
        </div>
    </div>
        <p class="my-4 text-center">{% trans %}L'équipe Mon-shop-local.fr{% endtrans %}</p>
</div>
{% endblock %}
