{% extends 'base.html.twig' %}

{% block title %}{% trans %}Conditions générales d'utilisation{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
        <h1 class="my-4 text-center">{% trans %}Conditions générales d'utilisation{% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>1. Avant-propos</h2>
            <p>Le site Mon-shop-local.fr a été conçu pour répondre au besoin urgent des petits commerçants de créer rapidement une virtualisation de leur boutique en ligne dans le cadre de la crise du Covid-19.</p>
            <p>Ce site a pour but premier de mettre en relation les commerçants et leurs clients au travers de boutiques crées, alimentées et gérées par le commerçant.</p>
            <p>La finalité étant de faciliter le Click & collect afin d'appuyer les mesures particulières dues au contexte sanitaire actuel</p>
            <p>La mise à disposition des services de base du site mon-shop-local.fr n'est soumise a aucune tarification et s'inscrit dans une démarche de solidarité et de prévenence</p>
            <h2>2. Commandes et transactions</h2>
            <p>Toute commande effectuée sur le site Mon-shop-local.fr a pour unique but de produire, à titre indicatif, un message à destination du commerçant contenant les informations que le client souhaite lui transmettre.</p>
            <p><strong>Une commande n'engage en aucun cas ni le client, ni le commerçant.</strong></p>
            <p><strong>Aucune transaction n'est réalisable sur le site Mon-shop-local.fr</strong></p>
            <p>Les transaction sont effectuées directement entre le client et le commerçant dans le cadre légal qui lui est prevu. (Par exemple, directement en boutique lors du retrait des articles)</p>
            <h2>3. Responsabilité</h2>
            <p><strong>Le site mon-shop-local.fr ne garanti en aucun cas la véracité de la désignation des boutiques, des articles ainsi que leur prix</strong></p>
            <p>Une vérification humaine est cependant effectuée avant d'activer ou non une boutique afin d'écarter d'éventuels contenus malveillants</p>
            <p><strong>Les responsables du site mon-shop-local.fr ne sauraient être tenus responsables de quelques litiges que ce soit entre une personne et un commerçant.</strong></p>
            <h2>4. Création de compte commerçant</h2>
            <p>La création d'un compte commerçant vous engage sur l'honneur à ne mettre en ligne que des éléments authentiques et vérifiables.</p>
            <p>A la création d'un compte commerçant, vous acceptez que les informations conçernant votre boutique soient publiques. Et ce pendant tout le temps où votre boutique est en ligne.</p>
        </div>
    </div>
        <p class="my-4 text-center">{% trans %}L'équipe Mon-shop-local.fr{% endtrans %}</p>
</div>
{% endblock %}
