<h1>Une nouvelle commande a été effectuée sur votre boutique</h1>

<p><strong>Numéro de commande :</strong> {{ order.number }}</p>
<p><strong>Nom :</strong> {{ order.customerName }}</p>
<p><strong>Prénom :</strong> {{ order.customerFirstname }}</p>
<p><strong>Adresse :</strong> {{ order.customerAddress }}, {{ order.customerZipCode }} {{ order.customerCity }}</p>
<p><strong>Numéro de téléphone :</strong> {{ order.customerPhone }}</p>
<p><strong>Adresse e-mail :</strong> {{ order.customerMail }}</p>
<p><strong>Message :</strong> {{ order.customerMessage }}</p>
<br>
<h3>Articles :</h3>
<table style="border-collapse: collapse;border: 1px solid black;padding: 5px;">
    <tr>
        <th style="border:1px solid black;padding:5px;">Nom de l'article</th>
        <th style="border:1px solid black;padding:5px;">Prix</th>
        <th style="border:1px solid black;padding:5px;">Quantité</th>
        <th style="border:1px solid black;padding:5px;">Sous-Total</th>
    </tr>
    {% for article in order.content.articles %}
        <tr>
            <td style="border:1px solid black;padding:5px;">{{ article.name }}</td>
            <td style="border:1px solid black;padding:5px;text-align:center;">{{ article.price }} €</td>
            <td style="border:1px solid black;padding:5px;text-align:center;">{{ article.quantity }}</td>
            <td style="border:1px solid black;padding:5px;text-align:center;">{{ article.quantity * article.price }} €</td>
        </tr>
    {% endfor %}
</table>
<br>
<h3>Total de la commande : {{ order.total }} €</h3>
<p>Vous pouvez aussi la consulter sur votre tableau de bord en cliquant sur <a href="{{ uri|raw }}">ce lien</a></p>
<br>
<p>Mon shop local</p>