<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th scope="col">{% trans %}Article{% endtrans %}</th>
            <th scope="col">{% trans %}Prix{% endtrans %}</th>
            <th scope="col">{% trans %}Quantité{% endtrans %}</th>
            <th scope="col">{% trans %}Total{% endtrans %}</th>
            {% if is_cart is defined %}<th scope="col"></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in shopCart.articles %}
        <tr>
            <td scope="row"><a
                    href="{{ path('article_show', {shopSlug: item.article.shop.shopSlug, articleSlug: item.article.articleSlug }) }}">{{ item.article.name }}</a>
            </td>
            <td class="ws-nowrap"><span class="cart-article-price">{{ item.article.price }}</span> €</td>
            <td class="cart-article-plusMinus">
            {% if is_cart is defined %}
                <a class="cart-article-remove-reduce"
                    href="{{ path('cart_change', {id: item.article.id, mode: 'reduce'}) }}">{% include "icons/_red_dash_circle.html.twig" %}</a>
            {% endif %}
                <span class="cart-article-quantity">{{ item.quantity }}</span>
            {% if is_cart is defined %}
                <a class="cart-article-add"
                    href="{{ path('cart_change', {id: item.article.id, mode: 'add'}) }}">{% include "icons/_green_plus_circle.html.twig" %}</a>
            {% endif %}
            </td>
            <td class="ws-nowrap"><span class="cart-article-totalLine">{{ item.article.price * item.quantity }}</span> €</td>
            {% if is_cart is defined %}
            <td>
                <a id="cart-article-remove-remove" title="{% trans %}Supprimer le(s) article(s){% endtrans %}"
                    href="{{ path('cart_change', {id: item.article.id, mode: 'remove'}) }}" class="cart-article-remove">
                    {% include "icons/_red_trash_fill.html.twig" %}
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td scope="row" colspan="3" class="text-right ws-nowrap">{% trans %}Total :{% endtrans %}</td>
            <td class="ws-nowrap">{{ shopCart.totalPrice }} €</td>
        </tr>
    </tbody>
</table>