{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon panier{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Votre panier</h1>
    {% if cart|length < 1 %}
    <p class="text-center">{% trans %}Votre panier est vide{% endtrans %}</p>
    {% else %}
        
    {% for shopCart in cart %}
        <h2>{{ shopCart.shop.brand }}</h2>
        <div class="row mt-4">
            <div class="col-md-12">
                {% include "cart/_cart_table.html.twig" %}
                <div class='d-flex justify-content-md-end justify-content-center mb-4 mb-md-0'>
                    <a href="{{ path('order_create', {shopSlug: shopCart.shop.shopSlug}) }}" class="btn btn-warning">Passer la commande</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}<script src="{{ asset('assets/js/cart.js') }}"></script>{% endblock %}
