{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connexion{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header alert-primary">
                    <h1 class="h3 font-weight-normal mb-0">{% trans %}Bonjour, veuillez vous connecter{% endtrans %}</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                            placeholder="{% trans %}Adresse e-mail{% endtrans %}" class="form-control mt-3" required
                            autofocus>
                        <input type="password" name="password" id="inputPassword" class="form-control mt-3"
                            placeholder="{% trans %}Mot de passe{% endtrans %}" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="d-flex justify-content-md-between justify-content-center flex-wrap">
                            <div class="custom-control custom-checkbox mt-3">
                                <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
                                <label class="custom-control-label" for="remember_me">{% trans %}Se souvenir de moi{% endtrans %}</label>
                            </div>
                            <a class="mt-3" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                        </div>
                        <button class="btn btn-primary mt-3 mx-auto d-block w-50" type="submit">{% trans %}Se connecter{% endtrans %}</button>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="text-center">Pas encore de compte ?</p>
                    <div class="register-links-container d-flex justify-content-md-around justify-content-center flex-wrap">
                        <a class="mb-3"href="#">Créer un compte client (à venir)</a>
                        <a class="mb-3"href="{{ path('app_register', {type: 'merchant'}) }}">Créer un compte commerçant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}