{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Mon shop local</h1>
    <hr>
    <div class="card-columns">
    {% for shop in shops %}
            {% include "partials/_shop_card.html.twig" %}
    {% endfor %}
    </div>
    {% if shops|length == 0 %}
        <p class="my-4 text-center h2">{% trans %}Aucune boutique n'est actuellement en ligne{% endtrans %}</p>
    {% endif %}
</div>
{% endblock %}
