<h1>Bonjour ! Veuillez confirmer votre adresse e-mail.</h1>

<p>
    Confirmez votre adresse en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer l'email</a>.<br><br>
    Ce lien a une durée de validitée de 2 jours.
</p>

<p>
    A tout de suite sur Mon shop local !
</p>
