{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="my-4 text-center">{% trans %}Créer un compte commerçant{% endtrans %}</h1>
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn btn-primary d-block mx-auto w-50 mb-3">{% trans %}Enregistrer{% endtrans %}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}