<div class="col-md-3 mb-3">
    <div class="card">
        <img class="card-img-top article-img" src="{{ article.mainImage.relativePath ?? '/assets/images/article-placeholder.png' }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ article.name }}</h5>
            <p class="card-text">{{ article.teaser|raw }}</p>
            <p class="card-text"><strong>{{ article.price }} €</strong> </p>
            <a href="{{ path('article_show', {shopSlug: shop.shopSlug, articleSlug: article.articleSlug}) }}" class="stretched-link"></a>
        </div>
    </div>
</div>