<footer class="bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-between py-3 text-center">
            <div class="col-md-2"><a href="{{ path('page', {type: 'cgu'}) }}">Conditions générales d'utilisation</a></div>
            <div class="col-md-2"><a href="#">Données personnelles</a></div>
            <div class="col-md-2"><a href="#">Cookies</a></div>
            <div class="col-md-2"><a href="mailto:admin@commerces-du-coin.fr">Contact</a></div>
            <div class="col-md-2"><a href="{{ path('page', {type: 'a-propos'}) }}">A propos</a></div>
        </div>
    </div>
</footer>