<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mon shop local.fr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
          {% include "partials/_navbar_admin.html.twig" %}
        {% elseif is_granted('ROLE_MERCHANT') %}
          {% include "partials/_navbar_merchant.html.twig" %}
        {% else %}
          {% include "partials/_navbar_customer.html.twig" %}
        {% endif %}
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
      </li>
      {% endif %}
    </ul>
    <div class="cartLine ml-lg-3 mt-2 mt-lg-0">
      <a href="{{ path('cart') }}">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
        </svg>
        <span class="articleCount">{{ cart_manager.getCartCount() }}</span>Article<span class="articlePlural">s</span>
      </a>
    </div>
  </div>
</nav>