{% if app.user.shop is not empty %}
{% if not app.user.shop.isValid %}
<button type="button" class="btn btn-warning">Votre boutique est en cours d'activation</button>
{% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ma boutique
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('order_index', {shopSlug: app.user.shop.shopSlug}) }}">Gérer les commandes</a>
            <a class="dropdown-item" href="{{ path('article_index', {shopSlug: app.user.shop.shopSlug}) }}">Gérer les articles</a>
            <a class="dropdown-item" href="{{ path('shop_edit', {shopSlug: app.user.shop.shopSlug}) }}">Modifier la boutique</a>
            <a class="dropdown-item" href="{{ path('shop_show', {shopSlug: app.user.shop.shopSlug}) }}">Voir la boutique</a>
        </div>
    </li>
{% else %}
    <li class="nav-item">
            <a class="nav-link" href="{{ path('shop_new') }}">Créer ma boutique</a>
    </li>
{% endif %}
{% include "partials/_navbar_account.html.twig" %}