<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ app.user.fullname }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('user_edit', {id: app.user.id}) }}">Mon compte</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Se deconnecter</a>
    </div>
</li>