<div class="card mb-3">
    <img class="card-img-top home-img" src="{{ shop.mainImage.relativePath ?? '/assets/images/shop-placeholder.png' }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ shop.brand }}</h5>
        <p class="card-text">{{ shop.presentation|raw }}</p>
        <p class="card-text text-right"><small class="text-muted">{{ shop.city }} ({{ shop.zipCode }})</small></p>
        <a href="{{ path('shop_show', {shopSlug: shop.shopSlug}) }}" class="stretched-link"></a>
    </div>
</div>