{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
            <p>Un courriel a été envoyé. Il contient un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot
                de passe. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
            <p>Si vous ne recevez pas de courriel, veuillez vérifier votre dossier de courrier indésirable ou <a
                    href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
        </div>
    </div>
</div>
{% endblock %}