<h1>Bonjour !</h1>

<p><a href="www.mon-shop-local.fr">Mon shop local</a> est pressé de vous revoir !</p>

<p>Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>A tout de suite !</p>
    