{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="my-4 text-center">{% trans %}Réinitialiser le mot de passe{% endtrans %}</h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                {% trans %}
                    
                {% endtrans %}
                </small>
            </div>

            <button class="btn btn-primary">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
</div>
{% endblock %}