.article-form-images-main-wrapper{border:1px solid grey;border-radius:5px;padding:1rem}.article-form-images-main-wrapper p.article-form-images-toggler{font-weight:bold;color:#007bff;margin:0}.article-form-images-main-wrapper p.article-form-images-toggler:hover{cursor:pointer}.article-form-images-main-wrapper .article-form-images-wrapper{display:none}.article-form-images-main-wrapper .article-form-images-wrapper .mainCropperWrapper{height:70vh;display:none}
/*# sourceMappingURL=article_form.css.map */