.autoList{list-style-type:none;border:1px solid #ced4da;padding:0;border-radius:.25rem;position:absolute;width:100%;background-color:white;z-index:1}.autoList li{padding:.25rem}.autoList li:hover{cursor:pointer;background-color:#007bff;color:white}.autoList li p{margin:0}
/*# sourceMappingURL=autocomplete.css.map */