body{min-height:100vh}.container h1{word-break:break-word}.cartLine a{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:0;text-decoration:none;color:#212529}.cartLine a .articleCount{margin:0 .25rem;font-weight:bold}.navbar-collapse{max-width:100%}.card-img-top.home-img{height:auto}.card-img-top.article-img{max-height:200px}.existingImage{width:100%;height:auto}.mainPage{min-height:calc(100vh - 160px)}footer a,.navbar a{color:#212529}footer a:hover,.navbar a:hover{text-decoration:underline;color:#212529}
/*# sourceMappingURL=base.css.map */