<form method="post" action="{{ path('shop_delete', {'shopSlug': shop.shopSlug}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la boutique ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shop.id) }}">
    <button class="btn btn-danger d-block mx-auto w-50 mb-4">Supprimer la boutique</button>
</form>
