{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if shop.mainImage|default %}
    <div class="existingContainer">
    <hr>
        <div class="d-flex justify-content-between align-items-end mb-3">
            <p class="mb-0">{% trans %}Image actuelle{% endtrans %} :</p>
            <a href="{{ path('file_delete', {id: shop.mainImage.id, dest: app.request.getPathInfo()}) }}" type="button" id="shop-form-image-change" class="btn btn-info">{% trans %}Retirer l'image{% endtrans %}</a>
        </div>
        <img class="existingImage" src="{{ shop.mainImage.relativePath }}">
    </div>
    {% endif %}
    <div class="cropperWrapper">
    <img src="" id="shop-form-image-preview" alt="preview" class="shop-form-image-preview">
    </div>
    <button class="btn btn-lg btn-primary d-block mx-auto w-50 mb-3 mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}