{% extends 'base.html.twig' %}

{% block title %}Modifier la boutique{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/autocomplete.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/shop_form.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"
    integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg=="
    crossorigin="anonymous" />
<style>

</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
            <h1 class="my-4 text-center">{% trans %}Modifier la boutique{% endtrans %}</h1>
            {{ include('shop/_form.html.twig') }}
            {{ include('shop/_delete_form.html.twig') }}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="admin">
                    {% if shop.isValid %}
                        <a class="btn btn-info d-block mx-auto w-50 mb-3 mt-3" href="{{ path('shop_toggle_active', {id: shop.id, val: 0}) }}">Désactiver la boutique</a>
                    {% else %}
                        <a class="btn btn-info d-block mx-auto w-50 mb-3 mt-3" href="{{ path('shop_toggle_active', {id: shop.id, val: 1}) }}">Activer la boutique</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"
    integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw=="
    crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/shop_form.js') }}"></script>
<script src="{{ asset('assets/js/shop_form_edit.js') }}"></script>
{% endblock %}