{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <h1>Shop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Presentation</th>
                <th>Slug</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.id }}</td>
                <td>{{ shop.brand }}</td>
                <td>{{ shop.address }}</td>
                <td>{{ shop.zipCode }}</td>
                <td>{{ shop.city }}</td>
                <td>{{ shop.phone }}</td>
                <td>{{ shop.email }}</td>
                <td>{{ shop.presentation }}</td>
                <td>{{ shop.shopSlug }}</td>
                <td>{{ shop.user.fullname }}</td>
                <td>
                    <a href="{{ path('shop_show', {'shopSlug': shop.shopSlug}) }}">show</a>
                    <a href="{{ path('shop_edit', {'shopSlug': shop.shopSlug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('shop_new') }}">Create new</a>
{% endblock %}
