{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}


<style>
.jumbotron {
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}
</style>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ shop.brand }}</h1>
        </div>
    </div>
    <h2 class="text-center my-4">{% trans %}Votre commande a bien été enregistrée{% endtrans %}</h2>
    <p class="text-center text-muted">Un courriel de confirmation vous a été envoyé</p>
    <hr>
    <div class="row justify-content-center">
        <div class="thankMessage col-md-6 text-center">
            {{ shop.thankMessage|raw }}
        <a href="{{ path('shop_show', {shopSlug: shop.shopSlug}) }}" class="btn btn-primary mt-4 d-block w-50 mx-auto mb-3">Retourner à la boutique</a>
        </div>
    </div>
</div>
{% endblock %}
