{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}


<style>
.jumbotron {
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}
</style>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ shop.brand }}</h1>
            <p class="lead">{{ shop.presentation|raw }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for article in articles %}
            {% include "partials/_article_card.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
