.articlePrimeRow {
    margin: 2rem 0 1rem;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.article-show-titleRow {
    justify-content: center;
    margin: 1rem 0;
    .col {
        h1 {
            margin-bottom: 0;
        }
        text-align: center;
        a {
            float: left;
            @media (max-width: 768px) {
                float: none;
                font-size: 0.5rem;
            }
        }
    }
}

.article-show-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: auto;
    }
}

.article-show-data {
    .priceRow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        p {
            margin-bottom: 0;
        }
    }
}

.secImgsRow {
    margin-top: 1rem;
    flex-wrap: unset;
    .article-show-secImage {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        img {
            width: 100%;
            height: auto;
            max-height: 100px;
        }
    }
}