.article-form-images-main-wrapper {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1rem;
    p.article-form-images-toggler {
        font-weight: bold;
        color: #007bff;
        margin: 0;
        &:hover {
            cursor: pointer;
        }
    }
    .article-form-images-wrapper {
        display: none;
        .mainCropperWrapper {
            height: 70vh;
            display: none;
        }
    }
}
