body {
    min-height: 100vh;
}

.container {
    h1 {
        word-break: break-word;
    }
}

// Nav.
.cartLine {
    a {
        display: flex;
        margin-bottom: 0;
        text-decoration: none;
        color: #212529;
        .articleCount {
            margin: 0 .25rem;
            font-weight: bold;
        }
    }
}

.navbar-collapse {
    max-width: 100%;
}

// Home.
.card-img-top.home-img {
    height: auto;
}

// Shop
.card-img-top.article-img {
    max-height: 200px;
}

.existingImage {
    width: 100%;
    height: auto;
}

.mainPage {
    min-height: calc(100vh - 160px);
}

// Footer.
footer, .navbar {
    a {
        color: #212529;
        &:hover {
            text-decoration: underline;
            color: #212529;
        }
    }
}