<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th scope="col">{% trans %}Article{% endtrans %}</th>
            <th scope="col">{% trans %}Prix{% endtrans %}</th>
            <th scope="col">{% trans %}Quantité{% endtrans %}</th>
            <th scope="col">{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in order.content.articles %}
        <tr>
            <td scope="row">{{ article.name }} {% if is_granted('ROLE_MERCHANT') %}(id : {{ article.id }}){% endif %}</td>
            <td class="ws-nowrap"><span class="cart-article-price">{{ article.price }}</span> €</td>
            <td class="cart-article-quantity">{{ article.quantity }}</td>
            <td class="ws-nowrap"><span class="cart-article-totalLine">{{ article.price * article.quantity }}</span> €</td>
        </tr>
        {% endfor %}
        <tr>
            <td scope="row" colspan="3" class="text-right ws-nowrap">{% trans %}Total :{% endtrans %}</td>
            <td class="ws-nowrap">{{ order.total }} €</td>
        </tr>
    </tbody>
</table>