{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center my-4">{% trans %}Commandes reçues{% endtrans %}</h1>
    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>{% trans %}Numéro de commande{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Client{% endtrans %}</th>
                <th>{% trans %}Statut{% endtrans %}</th>
                <th>{% trans %}Montant{% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.number }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="mailto:{{ order.customerMail }}">{{ order.customerMail }}</a></td>
                <td  class="text-muted">A venir</td>
                <td class="ws-nowrap">{{ order.total }} €</td>
                <td>
                    <a href="{{ path('order_show', {'shopSlug': shop.shopSlug, 'id': order.id}) }}" class="btn btn-primary">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">{% trans %}Pas de commandes à afficher{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
