{% extends 'base.html.twig' %}

{% block title %}{% trans %}Votre commande{% endtrans %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron my-4">
        <h1>{{ shopCart.shop.brand }}</h1>
    </div>
    <h2 class="text-center my-4">{% trans %}Votre commande{% endtrans %}</h2>
        <div class="row">
            <div class="col-md-6">{{ include('cart/_cart_table.html.twig') }}</div>
            <div class="col-md-6">{{ include('order/_form.html.twig') }}</div>
        </div>
</div>

{% endblock %}