{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/order_show.css') }}">{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron my-4">
        <h1>Commande du : {{ order.createdAt ? order.createdAt|date('d-m-Y \\à H:i') : '' }}</h1>
        <hr class="my-4">
        <p>Numéro de commande : {{ order.number }}</p>
    </div>
    <h2 class="text-center my-4">{% trans %}Détails de la commande{% endtrans %}</h1>
        <div class="row">
            <div class="col-md-6">{{ include('order/_order_table.html.twig') }}</div>
            <div class="col-md-6">
                <hr class="d-md-none">
                <p class="h3"><span class="h3 mr-2">{% include "icons/_black_person.html.twig" %}</span>{{ order.customerFirstname }} {{ order.customerName }}</p>
                <p class="h4"><span class="h3 mr-2">{% include "icons/_black_building.html.twig" %}</span>{{ order.customerAddress }}, {{ order.customerZipCode }} {{ order.customerCity }}</p>
                <p class="h4"><span class="h3 mr-2">{% include "icons/_black_envelope.html.twig" %}</span><a href="mailto:{{ order.customerMail }}">{{ order.customerMail }}</a></p>
                <p class="h4"><span class="h3 mr-2">{% include "icons/_black_telephone.html.twig" %}</span>{{ order.customerPhone }}</p>
                <p class="h4"><span class="h3 mr-2">{% include "icons/_black_chat_text.html.twig" %}</span>{{ order.customerMessage }}</p>
            </div>
        </div>
</div>
{% endblock %}
