<form method="post" action="{{ path('article_delete', {shopSlug: shop.shopSlug, 'articleSlug': article.articleSlug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger mx-auto w-50 d-block mb-4">Delete</button>
</form>
