{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.teaser) }}
{{ form_row(form.description) }}
{{ form_row(form.seeMore) }}
{{ form_row(form.price) }}

<div class="article-form-images-main-wrapper mb-3">
    <p class="article-form-images-toggler">Gérer les images</p>
    <div class="article-form-images-wrapper mt-3">
        {{ form_row(form.mainImage) }}
        <div class="mainCropperWrapper" id="mainCropperWrapper">
            <img src="" id="article-form-mainImage-preview" alt="preview" class="article-form-mainImage-preview">
        </div>
        {% if article.mainImage|default %}
        <div class="existingContainer">
            <hr>
            <div class="d-flex justify-content-between align-items-end mb-3">
                <p class="mb-0">{% trans %}Image principale actuelle{% endtrans %} :</p>
                <a href="{{ path('file_delete', {id: article.mainImage.id, dest: app.request.getPathInfo()}) }}" type="button" id="shop-form-image-change" class="btn btn-info">{% trans %}Retirer l'image{% endtrans %}</a>
            </div>
            <img class="existingImage existingImage-main" src="{{ article.mainImage.relativePath }}">
        </div>
        {% endif %}
        {{ form_row(form.mainImageX) }}
        {{ form_row(form.mainImageY) }}
        {{ form_row(form.mainImageW) }}
        {{ form_row(form.mainImageH) }}
        <hr>
    {# Secondary images #}
    {% for i in 1..4 %}
            {{ form_row(form.children['secImage' ~ i]) }}
            <div class="mainCropperWrapper" id="mainCropperWrapper-{{ i }}">
                <img src="" id="article-form-image-preview-{{ i }}" alt="preview" class="article-form-mainImage-preview">
            </div>
            {% if article.getSecImg(i)|default %}
                <div class="existingContainer">
                    <div class="d-flex justify-content-between align-items-end mb-3">
                        <p class="mb-0">Image secondaire n°{{ i }} actuelle :</p>
                        <a href="{{ path('file_delete', {id: article.getSecImg(i).id, dest: app.request.getPathInfo()}) }}" type="button" id="shop-form-image-change" class="btn btn-info">{% trans %}Retirer l'image{% endtrans %}</a>
                    </div>
                    <img class="existingImage" src="{{ article.getSecImg(i).relativePath }}">
                </div>
            {% endif %}
            {{ form_row(form.children['XsecImage' ~ i]) }}
            {{ form_row(form.children['YsecImage' ~ i]) }}
            {{ form_row(form.children['WsecImage' ~ i]) }}
            {{ form_row(form.children['HsecImage' ~ i]) }}
            <hr>
    {% endfor %}
    </div>
</div>

{{ form_row(form.isAvailable) }}
<button class="btn btn-lg btn-primary d-block mx-auto w-50 mb-3 mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}