{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4 text-center">{% trans %}Articles de la boutique{% endtrans %}</h1>
    <a class="btn btn-success my-4" href="{{ path('article_new',{shopSlug: shop.shopSlug}) }}">{% trans %}Ajouter un nouvel article{% endtrans %}</a>
    <table class="table mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom de l'article</th>
                <th>Prix</th>
                <th>En ligne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><img style="width:50px;height:auto;" src="{{ article.mainImage.relativePath ?? '/assets/images/article-placeholder.png' }}" alt=""></td>
                <td>{{ article.name }}</td>
                <td>{{ article.price }} €   </td>
                <td>{{ article.isAvailable ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('article_show', {shopSlug: shop.shopSlug, 'articleSlug': article.articleSlug}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('article_edit', {shopSlug: shop.shopSlug, 'articleSlug': article.articleSlug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
