{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nouvel Article{% endtrans %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/article_form.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"
    integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg=="
    crossorigin="anonymous" />
{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
            <h1 class="my-4 text-center">{% trans %}Ajouter un nouvel article{% endtrans %}</h1>
            {{ include('article/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"
    integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw=="
    crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/article_form.js') }}"></script>
{% endblock %}