{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/article_show.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row article-show-titleRow">
        <div class="col">
            <a class="backToShop" href="{{ path('shop_show', {shopSlug: shop.shopSlug}) }}">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                </svg>
            </a>
            <h1>{{ shop.brand }}</h1>
        </div>
    </div>
    <hr>
    <h2 class="d-md-none mb-1">{{ article.name }}</h2>
    <div class="row articlePrimeRow">
        <div class="col-md-6">
            <div class="row article-show-image">
                <img src="{{ article.mainImage.relativePath ?? '/assets/images/article-placeholder.png' }}" alt="">
            </div>
            <div class="row secImgsRow justify-content-center mb-3">
                {% for i in 1..4 %}
                    {% if article.getSecImg(i) is not null %}
                        <div class="col-3 article-show-secImage px-1">
                            <img src="{{ article.getSecImg(i).relativePath }}" alt="">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 article-show-data">
            <h2 class="d-none d-md-block">{{ article.name }}</h2>
            {% if shop.user == app.user or is_granted('ROLE_ADMIN') %}<a class="btn btn-warning" href="{{ path('article_edit', {shopSlug: shop.shopSlug, 'articleSlug': article.articleSlug}) }}">Modifier</a>{% endif %}
            <p>{{ article.teaser|raw }}</p>
            <div class="priceRow">
                <p>Prix : <strong>{{ article.price }} €</strong></p>
                <a href="{{ path('cart_change', {id: article.id, mode: 'add', dest: app.request.getPathInfo()}) }}" id="addToCartBtn" type="button" data-attr-article="{{ article.id }}" class="btn btn-success">{% trans %}Ajouter au panier{% endtrans %}</a>
            </div>
            <hr>
            <p><strong>Description de l'article :</strong></p>
            <div>
                {{ article.description|raw }}
            {% if article.seeMore|length > 0 %}
                {# <button type="button" class="btn btn-outline-primary mt-3">Voir Plus</button> #}
            {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col">
            <p>{{ article.seeMore|raw }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/article_show.js') }}"></script>
{% endblock %}