{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-0 mt-lg-3">
        <div class="col-md-6">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="my-4 text-center">{% trans %}Mon compte commerçant{% endtrans %}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-lg btn-primary d-block mx-auto w-50">{% trans %}Enregistrer{% endtrans %}</button>
            {{ form_end(form) }}
            <a href="{{ path('user_change_password', {id: app.user.id}) }}" class="btn btn-info d-block mx-auto w-50 mt-4">{% trans %}Changer le mot de passe{% endtrans %}</a>
            {% include "user/_delete_form.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}
